.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.circle {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #f30300;
  background-image: url("https://i.chzbgr.com/full/7733032960/h3FC6DFFF/darth-vader-sure-cleans-up-nice");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
}

.title,
.description {
  color: #fff;
  margin-bottom: 10px;
}
